<html>
  <head>
    <style>
      body { background-color: #f7fafc; display: flex; justify-content: center;
      align-items: center; height: 100vh; } .container { max-width: 768px;
      width: 100%; background-color: #ffffff; padding: 32px; border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; margin:
      auto; } .image { width: 200px; border-radius: 10px; } .title { font-size:
      20px; color: #2d3748; margin-bottom: 16px; } .message { font-size: 18px;
      color: #718096; margin-bottom: 16px; } .otp { font-size: 18px;
      font-weight: bold; color: #4299e1; margin-bottom: 16px; } .footer-text {
      font-size: 14px; color: #a0aec0; }
    </style>
  </head>
  <body>
    <div class='container'>
      <img src='{{imageUrl}}' alt='coffee shop image' class='image' />
      <p class='title'>Your One-Time Password (OTP)</p>
      <p class='message'>Please enter this OTP to confirm your action:</p>
      <p class='otp'>{{otp}}</p>
      <p class='footer-text'>If you did not request this OTP, you can safely
        ignore this email.</p>
    </div>
  </body>
</html>